---
import BlogArticleLayout from "../../../components/BlogArticleLayout.astro";
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Layout from "../../../layouts/Layout.astro";
import { addLangPrefix } from "../../../i18n";
import {
  buildAlternateUrls,
  generateTabs,
  getAvailableLanguages,
  getCanonicalSlug,
  getSectionPaths,
  type SectionPathProps,
} from "../../../utils/blog";

const lang = "es" as const;

export async function getStaticPaths() {
  return getSectionPaths("es");
}

type Props = SectionPathProps;

const { post, mainPost, allSections, baseSlug, currentSection } = Astro.props;
const { Content } = await post.render();

const tabs = generateTabs(allSections, currentSection, mainPost, lang);
const canonicalSlug = getCanonicalSlug(
  `${baseSlug}/${currentSection}`,
  lang
);
const blogPath = addLangPrefix(
  `/blog/${baseSlug}/${currentSection}`,
  lang
);
const canonicalUrl = Astro.site
  ? new URL(blogPath, Astro.site).toString()
  : blogPath;
const availableLanguages = await getAvailableLanguages(canonicalSlug);
const alternateUrls = buildAlternateUrls(canonicalSlug, availableLanguages, Astro.site);
---

<Layout
  title={`${post.data.title} - ${mainPost.data.title} | Speedcubing Colombia`}
  description={mainPost.data.excerpt}
  image={mainPost.data.image}
  type="article"
  lang={lang}
  alternateUrls={alternateUrls}
>
  <Header />
  <main id="main-content">
    <BlogArticleLayout
      mainPost={mainPost}
      lang={lang}
      tabs={tabs}
      baseSlug={baseSlug}
      canonicalUrl={canonicalUrl}
      canonicalSlug={canonicalSlug}
      availableLanguages={availableLanguages}
    >
      <Content />
    </BlogArticleLayout>
  </main>
  <Footer />
</Layout>
